<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"         />
    </startup>
  <log4net>
    <appender name="Logger" type="log4net.Appender.RollingFileAppender">
      <file value="Errorlog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread] %logger %date %-5level - %message %location %newline" />
      </layout>
    </appender>
    <root>
      <level key="log_level" value="ALL" />
      <appender-ref ref="Logger" />
    </root>
  </log4net>
</configuration>